@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic global styles */
html,body,#__next { height: 100%; }
body {
  @apply bg-white text-slate-800 antialiased;
}
a { @apply text-indigo-600 hover:underline; }
.container { @apply max-w-6xl mx-auto px-6; }
